fastapi==0.112.0
uvicorn==0.30.4
streamlit==1.37.0
pandas==2.2.2
numpy==2.0.0
scikit-learn==1.5.1
matplotlib==3.9.1
seaborn==0.13.2
sqlite3
sqlalchemy==2.0.31
pydantic==2.8.2
apache-airflow==2.9.3
joblib==1.4.2
jupyter==1.0.0 